{% load staticfiles %}
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Hospital Management Information System">
    <meta name="author" content="Sovello Hildebrand Mgani">
    <link rel="icon" href="{% static 'dcare/img/favicon.ico' %}">
    
    <title>Dcare Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'dcare/css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'dcare/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'dcare/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'dcare/css/styles.css' %}" />
  </head>

  <body>
    <div class="jumbotron">
      <h1 class="dcare-brand"><img src="{% static 'dcare/img/dcare.png' %}" alt="dcare: hospital management" /></h1>
      <h1><small>dcare: Hospital Management</small></h1>
      <h3>Simplicity, Productivity, Efficiency</h3>
    </div>
    <div class="container-fluid">      
      <div class="row">
	<div class="col-xs-9 col-md-6">
	  <p>
	    Hospital Management made easy.
	    Register new patients, keep track of all patients, manage visits and appointments, and all clinical history of a patient. Easily print a selectable part of the clinical report into a PDF. 
	  </p>

	</div>
	<div class="col-xs-9 col-md-6">
	  <p>
	    HL7 compliant, easy to integrate with other systems like POS Systems. ISO 90000:2016 certified.
	  </p>
	  <p>
	    In use by big hospitals all across the world.  
	  </p>	  
	</div>
      </div>
      <div class="row">
	<p><a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Click here to Login</a></p>
      </div>
    </div>
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

  <script src="{% static 'dcare/js/jquery.min.js' %}"></script>
  <script src="{% static 'dcare/js/circle-progress.js' %}"></script>
  <script src="{% static 'dcare/js/hnp_stats.js' %}"></script>
  <script src="{% static 'dcare/js/jquery-ui.js' %}"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static 'dcare/js/bootstrap.min.js' %}"></script>  
</body>
</html>
