{% extends 'base.html' %}

{% block sitehead %}
<title>dcare: Patient Management</title>
{% endblock %}


{% block content %}
<h1>dcare: Hospital Management made easy!</h1>	  
<form>
  <div class="form-group">
    <label class="sr-only" for="startAndEndDate">Start and End Dates</label>
    <p>
      <div class="input-group">
	<div class="input-group-addon">Start Date</div>
	<input type="text" class="form-control" id="start_date" placeholder="Start Date">
      </div>
    </p>
    <p>
      <div class="input-group">
	<div class="input-group-addon">End Date &nbsp;</div>		
	<input type="text" class="form-control" id="end_date" placeholder="End Date">
      </div>
    </p>
    <p>
      <submit type="submit" class="btn btn-primary">Search</submit>
    </p>	      
  </div>
</form>
{% endblock %}


{% block right_menu %}
<h3>Right menu that's contextual</h3>
{% endblock %}

