{% extends 'base.html' %}

{% block sitehead %}
<title>dcare: Patient Management</title>
{% endblock %}


{% block content %}
<div class="row">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Patient Search">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><span title="Find" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </span>
  </div>
</div>

<div class="row">
  <table class="table table-hover">
    <h3>Recently added patients</h3>
    <thead>
      <tr><th>Firstname</th><th>Surname</th><th>Other name</th><th colspan="2">Action</th></tr>
    </thead>
    <tbody>
      {% for patient in recently_added %}
      <tr>
	<td>{{ patient.firstname }}</td>
	<td> {{ patient.surname }} </td>
	<td> {{ patient.othername }}</td>
	<td>
	  <a href="{% url 'patient:home' %}">
	    <span title="View" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
	  </a>
	</td>
	<td>
	  <a href="{% url 'patient:home' %}">
	    <span title="Edit" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	  </a>
	</td>
      </tr>
      {% endfor %}
    </tbody>    
  </table>
</div>

{% endblock %}


{% block right_menu %}
<ul class="list-group">
  <li class="list-group-item"><a href="#">Register new patient</a></li>
  <li class="list-group-item"><a href="#">Admission</a></li>
</ul>
{% endblock %}

